<form #form appInterceptSubmit>
  <button #submitButton type="submit">Submit</button>
</form>
<button (click)="clickSubmit()">Programmatic click</button>
<button (click)="submitForm()">Programmatic submit</button>
<button (click)="dispatchEvent()">Programmatic event</button>
